/** Stylus Styles */

@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $orange.darken-2
  accent: $orange.accent-2
  secondary: $grey.lighten-1
  info: $blue.lighten-1
  warning: $amber.lighten-1
  error: $red.accent-4
  success: $green.lighten-2
}

@import '../../node_modules/vuetify/src/stylus/main'
